:root {
	--purple_bright: #{$purple_bright};
	--purple: #{$purple};
	--navy: #{$navy};
	--blue: #{$blue};
	--green: #{$green};
	--red: #{$red};
	--pink: #{$pink};
	--orange: #{$orange};
	--yellow: #{$yellow};
	--neutral: #{$neutral};
	--background: #{$background};
	--neutral_light: #{$white};

	@media(prefers-color-scheme: dark) {
		--purple_bright: #{$purple_bright_light};
	--purple: #{$purple_light};
	--navy: #{$navy_light};
	--blue: #{$blue_light};
	--green: #{$green_light};
	--red: #{$red_light};
	--pink: #{$pink_light};
	--orange: #{$orange_light};
	--yellow: #{$yellow_light};
	--neutral: #{$neutral};
	--background: #{$background};
	--neutral_light: #{$white};
	}
}