@import './colours';

@import './fonts';

@import './typo';

@import './forms';

@import './table';

*, *::before, *::after {
	box-sizing: border-box;
	outline-offset: 0.2em;
}

*:focus {
	outline: 2px dotted var(--green);
	
}

.sr-only {

	@include sr_only;
}