:root {
	--purple: #7561c1;
	--purple_dark: #9440a0;
	--navy: #364c93;
	--blue: #318ce7;
	--green: #64ad66;
	--red: #e53f51;
	--pink: #cb5699;
	--orange: #f78d2b;
	--yellow: #ffce03;

	/* Neutrals */
	--background: #f7f0eb;
	--white: #ffffff;
	--neutral: #1e1e1e;
	--grey: #808080;	

	/* Fonts */
	--font_code: 'Source Code Pro', monospace;
	--font_main: 'Rajdhani', sans-serif;
	--font_heading: 'Montserrat', serif;
}