.icon {
	display: block;
	width: auto;
	height: auto;
	object-fit: contain;
	object-position: center;

	@media (prefers-reduced-motion) {
		transition: none;
		animation: none;

		& * {
			transition: none;
			animation: none;
		}
	}
}

.fan, .fan_light {
	transform-origin: center 62.5%;

	&[data-state="on"], &[data-state-fan="on"] {
		animation: rotate 5s linear infinite;
	}
}

.light, .fan_light {
	&[data-state="off"], &[data-state-light="off"] {
		& *[data-section="light"] {
			filter: grayscale(1);
		}

		& *[data-section="signal"] {
			display: none;
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}