---
import { getCollection } from 'astro:content';
import Layout from '@layouts/default.astro';
import RecipeFeed from '@components/meals/recipeFeed.astro';
import generateCategories from '@utils/meals/categories';
import type { Category } from '@ts/meals';
import Categories from '@components/meals/categories.astro';

const recipes = await getCollection('recipes');
const categories: Category[] = generateCategories(recipes);

---



<Layout>
	<h1>Recipes</h1>
	<Categories categories={categories} />
	<RecipeFeed recipes={recipes} />
</Layout>
