@import '@mixins';

	.card {
		position: relative;
		height: 100%;
		padding: 20px;
		border-radius: 20px;
		background: var(--background);
		box-shadow: 0 0 10px rgb(0 0 0 / 20%);

		&:hover {
			background: rgba($purple_bright, 0.3);
		}
	}

	a {

		@include block_link;

		&:hover {
			text-decoration: none;
		}
	}

	:global(picture) {
		border-radius: inherit;
	}

	.image {
		width: 100%;
		overflow: hidden;
		border-radius: inherit;

		&.fallback {
			opacity: 0.2;
			background: currentColor;
		}
	}

	span {
		display: inline-flex;
		align-items: center;

		& svg {
			width: auto;
			height: 1.2em;
			margin-right: 1ch;
		}
	}

	@supports (grid-template-areas: '.') {
		.card {
			display: grid;
			grid-gap: 10px; 
			grid-template-areas: 'img img' 'title title' 'level time' 'save save';
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows:auto 1fr auto;
		}

		.image,
		:global(picture) {
			grid-area: img;
		}

		.save { 
			grid-area: save;
		}

		h3 {
			grid-area: title;
		}
	}