---
import { getCollection } from 'astro:content';
import Layout from '@layouts/default.astro';
import RecipeFeed from '@components/meals/recipeFeed.astro';

const allRecipes = await getCollection('recipes');
const recipes = allRecipes.splice(0, 6)

---

<Layout>
	<h2>Recipes</h2>
	<RecipeFeed recipes={recipes} />
</Layout>
