---
import { getCollection } from "astro:content";

import Layout from "@layouts/default.astro";
import RecipeCard from "@components/meals/recipeCard.astro";

const recipes = await getCollection("recipes");
---

<Layout>
	<h1>Home</h1>
	<ul>
		{
			recipes.map((recipe) => (
				<li>
					<RecipeCard {recipe} />
				</li>
			))
		}
	</ul>
</Layout>
