.event {
	display: grid;
	grid-template-areas: 'title' 'time';
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr; 
	align-items: center;
	height: 100%;
	padding: 2px;
	border: 1px solid var(--white);
	background: var(--feature_colour);
	color: var(--contrast_colour);
	font-size: 0.7em;
	line-height: 1.1;
	gap: 2px;
}

.title {
	grid-area: title;
	white-space: wrap;
}

.time {
	grid-area: time;
}