.palette {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	margin: 0;
	padding: 0;
}

.swatch {
	display: grid;
	grid-template-rows: 1fr auto auto;
	margin: 0;
	padding: 10px;
	border: 5px dashed transparent;
	background: var(--colour);
	color: var(--contrast);
	font-size: 1.4em;
	text-align: center;

	&[data-standard="fail"] {
		border-color: var(--error);
		box-shadow: 0 0 10px var(--error);
	}

	&[data-standard="a"] {
		border-color: var(--warning);
		box-shadow: 0 0 10px var(--warning);
	}

	&[data-standard="aaa"] {
		box-shadow: 0 0 10px var(--success);
	}
}

.value {
	order: -1;
	margin: 0;
	font-size: 2em;
	font-weight: 700;
}

.a11y {
	margin-top: 20px;
	font-size: 0.5em;
}

.standard {
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
}