@mixin button {
	--background: var(--purple_dark);
	--colour: var(--white);
	--border: var(--purple_dark);

	padding: 0.5em 1em;
	border: 2px solid var(--border);
	border-radius: 0;
	background: var(--background);
	color: var(--colour);
	font-family: var(--font_headings);
	font-size: 1.1em;
	font-weight: 500;
	cursor: pointer;

	&:hover {
		--background: var(--background);
		--colour: var(--purple_dark);
	}
}  

@mixin button_secondary {
	--background: var(--background);
	--colour: var(--purple_dark);
	--border: var(--purple_dark);

	&:hover {
		--background: var(--purple_dark);
		--colour: var(--white);
	}
}

@mixin button_text {
	--background: transparent;
	--colour: var(--purple_dark);

	display: inline-flex;
	padding: 0;
	border-width: 0;

	&:hover {
		--background: transparent;
		--colour: var(--purple_dark);

		text-decoration: underline;
	}
}