.switcher {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 0.5em;
	gap: 10px;

	button {
		&:not([data-active="true"]) {
			--button_background: var(--neutral_light);
			--button_text: var(--purple_bright);
			--button_border: var(--purple_bright);
		}
	}
}